CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URIS=http://localhost:3000
SUPABASE_URL=https://eescaijrwgdcesemxcyy.supabase.co
SUPABASE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MTI1NjE0OSwiZXhwIjoxOTU2ODMyMTQ5fQ.xSLIzYUOo3Z28XECI078f6tauh2Ybte60WGmCOfJt8M
ACCESS_TOKEN=
REFRESH_TOKEN=
TOPIC_NAME=
SUBSCRIPTION_NAME=
PROJECT_ID=
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_URL=https://www.googleapis.com/oauth2/v1/certs
SCOPE=https://www.googleapis.com/auth/gmail.modify
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
SENDGRID_API_KEY=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
SENDCLEAN_API_KEY=kvbRqzSAIKBLQ0YDxGvm2Bh0